@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Do+Hyeon&family=Gothic+A1:wght@300&display=swap');

@font-face {
    font-family: 'Bebas Neue', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Bebas+Neue');
    unicode-range: U+0041-005A, U+0061-007A
}

@font-face {
    font-family: 'Do Hyeon', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Do+Hyeon');
    unicode-range: U+AC00-D7A3
}

@font-face {
    font-family: 'Gothic A1', sans-serif;
    src: url('https://fonts.googleapis.com/css2?Gothic+A1:wght@300');
    unicode-range: U+AC00-D7A3
}



@media screen and (max-width: 480px) {

    header {
        height: 20vh;
    }

    header div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        height: 100%;
    }

    header a {
        font-family: 'Bebas Neue', cursive;
        width: 100%;
        padding-left: 5vw;
        font-size: 15vw;
        vertical-align: center;
    }

    a, a:after {
        color: #000;

        font-family: 'Bebas Neue', cursive;
        text-decoration: none;
    }


    nav {
        width: 100%;
        height: 10vh;

        font-size: 0;
    }

    nav a, nav a:after {

        display: inline-block;
        color: #FFF;

        padding: 0px;
        margin: 0px;

        width: 33%;
        line-height: 10vh;
        height: 100%;

        text-align: center;
        vertical-align: bottom;
        font-size: 6vw;


        /*width: 40px;*/
        /*height: 40px;*/

    }

    .nav_main {
        background-color: limegreen;
    }

    .nav_bar {
        background-color: limegreen;
    }

    .nav_search {
        background-color: lime;
    }

    .nav_map {
        background-color: forestgreen;
    }

    .main_content {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .current_page {
        font-family: 'Do Hyeon', 'Bebas Neue';
        width: 80%;
        text-align: left;
        font-size: 8vw;
        border-left: forestgreen solid 2px;
    }

    .item_box {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 5vh 0;

    }

    .item_title {
        font-family: 'Do Hyeon', 'Bebas Neue';
        font-size: 5vw;
        border-top: black solid 1px;

        padding-top: 1vh;
        vertical-align: bottom;
    }

    .result {
        font-family: 'Do Hyeon';
        font-size: 6vw;

        margin-top: 20%;
    }

    .green {
        color: forestgreen;
    }

    .non_green {
        color: dimgray;
    }

    .img_box {
        width: 70%;
        padding-bottom: 70%;

        position: relative;

    }

    .item_img {
        width: 100%;
        padding-bottom: 100%;
        /*object-fit: contain;*/
        position: absolute;
        object-fit: cover;

    }

    .item_info {
        margin-top: 15%;
        font-size: 4vw;
    }

    .item_info > p {
        font-family: 'Gothic A1', sans-serif;
    }

    /*-----*/

    #map {
        width: 80vw;
        height: 80vw;

        border: forestgreen solid 3px;
    }


}


