@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
}

.current_page {
    font-weight: bold;
    font-size: large;
}

.login {
    color: gray;
    font-size: small;
}

a {
    color: black;
}

.input_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    border: black dashed 2px;
    padding: 30px;
    margin: 50px;
}

.button_box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-top: 40px;

    width: 100%;
}

.button_r {
    background-color: white;
    border: black solid 1px;

    width: 80px;
    height: 40px;
}

.button_l {
    background-color: black;
    border: black solid 1px;
    color: white;

    width: 80px;
    height: 40px;
}

.button_r:active {
    background-color: black;
    border: white solid 1px;
    color: white;
}

.button_l:active {
    background-color: white;
    color: black;
}